.Links{
  height: 50px;
  width: max;
  text-align: right;
}

#Images, #AS, #glsearch, #assearch{
  background-color: none;
  width: 140px;
  height: 30px;
  font-size: 15px;
  border-style: none;
}

#Search:hover, #Lucky:hover, #Images:hover, #AS:hover, #glsearch:hover, #assearch:hover{
  background-color: white;
}

.image{
  text-align: center;
  margin-top: 150px;
}

#searchbar, #Isearchbar{
  width: 700px;
  height: 35px;
  border-width: 1px;
  border-radius: 25px;
  border-color: lightgrey;
  text-align: center;
  font-size: 17px;
}

#Search, #Lucky{
  background-color: #dedede;
  width: 140px;
  height: 30px;
  font-size: 15px;
  border-radius: 4px;
  margin-top: 10px;
  text-align: center;
}

.Searchbarc, .Buttons{
  text-align: center;
}

.ASTitle{
  text-align: left;
}

#AdvancedSearch{
  color: red;
  margin-left: 50px;
  margin-top: 20px
  font-size: 30px;
}
