.Links{
  height: 50px;
  width: max;
  text-align: right;
}

#Images, #AS, #glsearch, #assearch{
  background-color: none;
  width: 140px;
  height: 30px;
  font-size: 15px;
  border-style: none;
}

#Search:hover, #Lucky:hover, #Images:hover, #AS:hover, #glsearch:hover, #assearch:hover{
  background-color: white;
  font-family: Arial, sans-serif;
}

.image{
  text-align: center;
  margin-top: 150px;
}

#searchbar, #Isearchbar{
  width: 700px;
  height: 35px;
  border-width: 1px;
  border-radius: 25px;
  border-color: lightgrey;
  text-align: center;
  font-size: 17px;
}

#Search, #Lucky{
  background-color: #dedede;
  width: 140px;
  height: 30px;
  font-size: 15px;
  border-radius: 4px;
  margin-top: 10px;
  text-align: center;
}

.Searchbarc, .Buttons{
  text-align: center;
}

.ASTitle{
  margin-top: 25px;
}

#AdvancedSearch{
  color: #bf0000;
  font-size: 20px;
  font-family: Arial, sans-serif;
  margin: 50px;
}

#ASLine{
  size = 5px;
  color: #f7f7f7;
}

.Line{
  margin-top: 25px;
}

.Searches{
  margin-top: 50px;
  margin-left: 50px;
}



#s1, #s2, #s3, #s4{
  border: 5px, solid;
  border-right-color: rgb(217, 217, 217);
  border-right-style: solid;
  border-right-width: 0.2px;
  font-size: 13px;
  height: 25px;
  width: 750px;
  font-family: Arial, sans-serif;
}

form{
  font-family: Arial, sans-serif;
}

#FPW{
  font-family: Arial, sans-serif;
  font-size: 20px;
}

#ASButton{
  height: 30px;
  width: 120px;
  background-color: #4d90fe;
  border: 1px, solid, #3079ed;
  color: #fff;
  margin-left: 500px;
}
